/*Creating infinte animation in which is rotating*/
div {
  animation: rotate-all 2s 0 infinite linear alternate;
}
/*First dive will go from circle to square, setting color*
Setting up the name which will be circle and circle1 of anination
cubic-bezier(x1, y1, x2, y2) --- sets the location f*/
.div1 {
  width: 80px;
  height: 80px;
  background-color: #1334BF;
  position: relative;
  margin: auto;
  animation: circle 2.5s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate-reverse;
}

.div2 {
  width: 80px;
  height: 80px;
  background-color: #1334BF;
  position: relative;
  margin: auto;
  animation: circle1 2.5s .42s infinite cubic-bezier(1,.015,.295,1.225) alternate-reverse;
}

#one {
  top: 150px;
}

#two {
  top: 150px;
  right: 80px;
}

#three {
  top: 150px;
}

#four {
  bottom: 10px;
  left: 80px;
}

@keyframes circle {
  0%  {
    border-radius:0 0 0 0;
    background: #A513BF;
    transform:rotate(45deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background: #FF0901;
    transform:rotate(135deg);
  }
  50%  {
    border-radius: 200% 0 0 0;
    background: #0E58D0;
    transform:rotate(180deg);
  }
  75%  {
    border-radius:50% 50% 50% 0;
    background: #FDFF01;
    transform:rotate(315deg);
  }
  100% {
    border-radius:50%;
    background: #2DBF13;
    transform:rotate(404deg);
  }
}

@keyframes circle1 {
  0%  {
    border-radius:0 0 0 0;
    background:#A513BF;
    transform:rotate(45deg);
  }
  25%  {
    border-radius:0 0 50% 0;
    background: #FF0901;
    transform:rotate(135deg);
  }
  50%  {
    border-radius:200% 0 0 0;
    background: #0E58D0;
    transform:rotate(180deg);
  }
  75%  {
    border-radius:50% 0 50% 50%;
    background: #FDFF01;
    transform:rotate(315deg);
  }
  100% {
    border-radius:50%;
    background: #2DBF13;
    transform:rotate(404deg);
  }
}
h1 {
  text-align: center;
  font-family: Raleway, Geneva, sans-serif;
  color: white;
  font-weight: 900;
  text-shadow: 0 2px 20px black;
  font-size: 450%;

}
h2 {
  text-align: center;
  font-family: Raleway, Geneva, sans-serif;
  color: white;
  font-size: 450%;
  font-weight: 900;
  text-shadow: 0 2px 30px black;

}
h3{
  text-align: center;
  font-family: Raleway, Geneva, sans-serif;
  color: black;
  font-size: 400%;
  font-weight: 900;
  text-shadow: 0 2px 20px white;
}
#profile{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 630px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:white;
  z-index:0;
}

#profile:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #FDFF01;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#profile:hover:before{transform: scaleX(1);}

#login{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 670px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:white;
  z-index:0;
}

#login:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #A513BF;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#login:hover:before{transform: scaleX(1);}

#logout{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 670px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:white;
  z-index:0;

}
#logout:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #FF0901;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#logout:hover:before{transform: scaleX(1);}

#symptoms{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 643px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:white;
  z-index:0;
}

#symptoms:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #0E58D0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#symptoms:hover:before{transform: scaleX(1);}

a{
  color: black;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
a:hover{
  color: white;
}
