body {
	background: black;
}
.scene {
	width: 600px;
	height: 60px;
	margin: 100px auto;
}

.circle {
	width: 60px;
	height: 60px;
	border-top-right-radius: 60px;
	float: left;
	transform-origin: bottom left;
}

.a,.c,.e,.g,.i {
  animation: rotate1 1s ease-in-out alternate infinite;
}

.b,.d,.f,.h,.j {
  animation: rotate2 1s ease-in-out alternate infinite;
  transform: rotate(90deg);
}

.a {background: #A513BF;}
.b {background: #A513BF;}
.c {background: #FF0901;}
.d {background: #FF0901;}
.e {background: #0E58D0;}
.f {background: #0E58D0;}
.g {background: #FDFF01;}
.h {background: #FDFF01;}
.i {background: #2DBF13;}
.j {background: #2DBF13;}

@keyframes rotate1 {
	100% {transform: rotate(-360deg);}
}

@keyframes rotate2 {
	100% {transform: rotate(450deg);}
}

h1 {
  text-align: center;
  font-family: Raleway, Geneva, sans-serif;
  color: white;
  font-weight: 900;
  text-shadow: 0 2px 20px grey;
  font-size: 450%;

}
h3 {
  text-align: center;
  font-family: Raleway, Geneva, sans-serif;
  color: white;
  font-weight: 900;
  text-shadow: 0 2px 20px grey;
  font-size: 200%;

}

#qa  {
  width: 110px; height: 20px; border: 1px solid #999999; padding: 5px;
  font-size: 40%;
}

div {
  text-align: center;
  font-family: Raleway, Geneva, sans-serif;
  color: white;
  font-weight: 900;
  text-shadow: 0 2px 20px grey;
  font-size: 200%;
}

button{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 643px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:black;
  z-index:0;

}
button:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #0E58D0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

button:hover:before{transform: scaleX(1);}
