body {
  background-color: black;
  color: white;
}
div {
  text-align: center;
  font-family: Raleway, Geneva, sans-serif;
  font-weight: 400;
  font-size: 200%;
}

button{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 650px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:black;
  z-index:0;
}

button:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #0E58D0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

button:hover:before{transform: scaleX(1);}
