body {
  background-color: black;
  color: black;
}

#symp {
  width: 200px; height: 20px; border: 1px solid #999999; padding: 5px;
  font-size: 40%;
}

h3{
  text-align: center;
  font-family: Raleway, Geneva, sans-serif;
  color: white;
  font-size: 200%;
  font-weight: 900;
  text-shadow: 0 2px 20px white;
}

li{
  text-align: center;
  font-family: Raleway, Geneva, sans-serif;
  color: white;
  font-size: 150%;
  font-weight: 900;
  text-shadow: 0 2px 20px white;
}

#submit{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 650px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:black;
  z-index:0;
}

#submit:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #A513BF;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#submit:hover:before{transform: scaleX(1);}

#report{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 560px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:black;
  z-index:0;
}

#report:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #FF0901;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#report:hover:before{transform: scaleX(1);}

#chart{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 610px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:black;
  z-index:0;
}

#chart:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #0E58D0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#chart:hover:before{transform: scaleX(1);}

#mainPage{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 610px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:black;
  z-index:0;
}

#mainPage:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #2DBF13;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#mainPage:hover:before{transform: scaleX(1);}
a{
  text-decoration: none;
  color: black;
}
#Symptom{
  color: white;
}
