body {
      animation: myfirst 50s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation:myfirst 20s infinite;  /* Chrome and Safari */
    }

    @-webkit-keyframes myfirst /* Safari and Chrome - necessary duplicate */
    {
      0% {background: #EBEDEF;}
      10% {background: #D6DBDF;}
      20% {background: #AEB6BF;}
      30% {background: #85929E;}
      40% {background: #5D6D7E;}
      50% {background: #34495E;}
      60% {background: #5D6D7E;}
      70% {background: #85929E;}
      80% {background: #AEB6BF;}
      90% {background: #D6DBDF;}
      100% {background: #EBEDEF;}
}

#symp {
  width: 200px; height: 20px; border: 1px solid #999999; padding: 5px;
  font-size: 40%;
}

h3{
  text-align: center;
  font-family: Raleway, Geneva, sans-serif;
  color: black;
  font-size: 200%;
  font-weight: 900;
  text-shadow: 0 2px 20px white;
}

li{
  text-align: center;
  font-family: Raleway, Geneva, sans-serif;
  color: black;
  font-size: 150%;
  font-weight: 900;
  text-shadow: 0 2px 20px white;
}

#submit{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 650px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:black;
  z-index:0;
}

#submit:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #979A9A;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#submit:hover:before{transform: scaleX(1);}

#report{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 560px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:black;
  z-index:0;
}

#report:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #979A9A;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#report:hover:before{transform: scaleX(1);}

#chart{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 610px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:black;
  z-index:0;
}

#chart:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #979A9A;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#chart:hover:before{transform: scaleX(1);}

#mainPage{
  color: black;

  font-family: Raleway, Geneva, sans-serif;
  font-size: 30px;
  margin-left: 610px;
  border: 2px solid black;

  display:inline-block;
  position: absolute;
  cursor:pointer;
  background:white;  color:black;
  z-index:0;
}

#mainPage:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background: #979A9A;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .3s ease-out;
}

#mainPage:hover:before{transform: scaleX(1);}
a{
  text-decoration: none;
}
