<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type = "text/css" href= "/stylesheets/home.css"/>
    <title>Symptom Tracker</title>
  </head>
  <style>
    body {
      background: #D0D3D4;
      margin: 0;
      background-color: black;
      /*background-image: url("images/background.jpg");*/
      background-size: 1500px 900px
    }
  </style>

  <div class="div1" id="one"></div>
  <div class="div1" id="two"></div>
  <div class="div2" id="three"></div>
  <div class="div2" id="four"></div>

  {% if username %}
  <header>
    <br>
  <h2>Welcome {{ username }} </h2>
  </header>

  <button id = "logout"><a href="{{ logout }}" class = "button">Logout</a></button><br>
  <br>
    {% if profile_key != None %}

      <button id = "profile"><a href="/profile?key={{profile_key.urlsafe()}}">Go to profile</a></button>
      <br>
      <br>
      <!-- buttons to other p-->
      <button id = "symptoms"><a href = "/Symptom_List">Symptoms</a></button>
      {% else %}
      <button id = "profile"><a href="/profile">Create Your Profile</a></button>
    {% endif %}

  {% else %}
  <header>
    <br>
  <h1>Welcome to Symptom Tracker</h1>
  </header>
  <h3>Please Login</h3>
  <button id = "login"><a href="{{ login }}" class = "button">Login</a></button>
  {% endif %}
  <!--Trying to make the button work.. Ask for help -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src = "static/profile.js"></script>
</html>
