
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome To Your Profile</title>
  </head>
  <form method="post" action="">
    <p>
      <h3>Name: <input type = "text" name="name"/></h3>
    </p>

    <p>
      <h3>Age: <input type = "text" name="age"/></h3>
    </p>

    <p>
      <h3>Sex</h3>
      <input type="radio" name="sex" value="male"> Male
      <input type="radio" name="sex" value="female"> Female
      <br>
    </p>

    <p>
      <h3>New Symptom: <input type = "text" name="newSymptom"/></h3>
    </p>
    <table style="width:100%">
  <tr>
    <th> Symptoms  </th>
  </tr>
    {% for symptom in symptoms %}
      <h6><a href="/symptom?key={{symptom.key.urlsafe()}}">{{symptom.nameSymp}}</a></h6>
    {% endfor %}

    <button>Submit</button>
</form>

</html>
