<!DOCTYPE html>
<link rel="stylesheet" type = "text/css" href= "/stylesheets/profile.css"/>
<form method="post" action="">
  <h1>Profile</h1>
  <p>
    <h3>Name: <input type = "text" id = "qa" name="name" value = "{{profileInfo.name}}"/></h3>
  </p>


  <p>
    <h3>Age: <input type = "text" id = "qa" name="age" value = "{{profileInfo.age}}" /></h3>
  </p>
    <h3>Weight: <input type = "text" id = "qa" name="weight" value = "{{profileInfo.weight}}"/></h3>
  <p>
    <h3>Sex</h3>
      <div>
      <input type="radio" name="sex" value="{{profileInfo.sex}}"> Male
      <input type="radio" name="sex" value="{{profileInfo.sex}}"> Female
      </div>
    <br>
  </p>
  <button id = "sumbit">Submit</button>
</form>
