<!DOCTYPE html>

<html>
  <link rel="stylesheet" type = "text/css" href= "/stylesheets/report.css"/>
  <head>
    <meta charset="utf-8">
    <title>Daily Report</title>
  </head>
<body>
<div> <h1> On a Scale of 1-10, how are your symptoms today? </h2> </div>
  <br> <br> 
<div>
{% for symptom in symptoms %}
  {{symptom.nameSymp}}

<form method="post" action="/Report">
  <p>
    <input type="radio" name={{symptom.nameSymp}} value="1">
    <input type="radio" name={{symptom.nameSymp}} value="2">
    <input type="radio" name={{symptom.nameSymp}} value="3">
    <input type="radio" name={{symptom.nameSymp}} value="4">
    <input type="radio" name={{symptom.nameSymp}} value="5">
    <input type="radio" name={{symptom.nameSymp}} value="6">
    <input type="radio" name={{symptom.nameSymp}} value="7">
    <input type="radio" name={{symptom.nameSymp}} value="8">
    <input type="radio" name={{symptom.nameSymp}} value="9">
    <input type="radio" name={{symptom.nameSymp}} value="10">
  </p>


  {% endfor %}


  <button>Submit</button>
</div>
</form>
</body>
</Html>
