<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <p>
    <h3>New Symptom: <input type = "text" name="nameSymp"/></h3>
  </p>
  <table style="width:100%">
<tr>
  <th> Symptoms  </th>
</tr>
  {% for symptom in symptoms %}
    <h6><a href="/symptom?key={{symptom.key.urlsafe()}}">{{symptom.nameSymp}}</a></h6>
  {% endfor %}

  <button>Submit</button>
</form>
  <body>

  </body>
</html>
  <form method="post" action="">

______________________
<!DOCTYPE html>
<html>
<title> Symptom!! </title>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#btn1").click(function(){
        $("ol").append("<li>Appended symptom list</li>");
    });
});
</script>
</head>
<body>

<ol>
  <li>Symptom 1</li>
  <li>Symptom 2</li>
  <li>Symptom 3</li>
</ol>

<button id="btn1">Add to symptom list</button>

</body>
</html>
