<!DOCTYPE html>
<html>
  <link rel="stylesheet" type = "text/css" href= "/stylesheets/symptom_list.css"/>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
<body>
<form method="post" action="/Symptom_List">
  <p>
    <h3>New Symptom:</h3>
      <h3> <input type = "text" id = "symp" name="newSymp"/></h3>
  </p>
  <h3>Symptoms</h3>
  <table style="width:100%">

  {% for symptom in symptoms %}
  <li><a href="/charts?key={{ symptom.key.urlsafe() }}">{{symptom.nameSymp}}</a></li>
  <br>
  {% endfor %}

  <button id = "submit">Submit</button>

</form>
<br>
<br>
<br>
<br>
<br>
<button id = "report"><a href="/Report" class = "button">Daily Health Report</a></button><br>
<br>
<br>
<button id = "chart"><a href="/charts" class = "button">Go To Chart</a></button><br>
<br>
<br>
<br>
<br>
<button id = "mainPage"><a href="/" class = "button">Go To Home</a></button><br>
</body>
</Html>
